.container {
  background: linear-gradient(#12261d, #0e1e17);
}

.introMain {
  display: flex;
  width: 100%;
  gap: 30px;
  max-width: 1190px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  color: var(--foreground);
  padding: 82px 30px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.title {
  flex: 1;
  font-size: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

   @media (max-width: 768px) {
      text-align: center;

}
}

.image {
  height: auto;
  width: 500px;
  flex: 1;
  flex-wrap: wrap;
  display: contents;

  @media (max-width: 600px) {
    height: 300px;
    width: 300px;
  }
}

.img {
  border-radius: 12px;
}

.description {
  text-align: center;
}

.paragraph {
  text-align: justify;
  line-height: 26px;
}

.ctas {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid var(--foreground);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding-top: 8px;
}

.icon {
  padding: 8px 0;
  display: flex;
}

.text {
  padding-left: 8px;
}
